
= render :partial => 'videos', :locals => {:video => @content["video"] }

= render :partial => 'images' , :locals => {:image => @content["image"]}

= render :partial => 'microblog' , :locals => {:microblog => @content["microblog"]}

= render :partial => 'audio' , :locals => {:audio => @content["audio"]}
